html.authentication {
  background: #43525A !important;

  body {
    background: #43525A !important;
  }
}

#auth-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: auto;
  position: fixed;
  background: #43525A;
}

#auth-row {
  margin: auto;
  display: block;
  margin-top: $line-height-computed * 2;
}

#auth-cell {
  margin: auto;

  >div {
    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
}

#auth-container.login {
  #facebook-btn {
    position: relative;
    border-radius: 4px;
    background: #2960B1;
    text-transform: none;
    border-color: #2960B1;

    &:hover, &:focus {
      background: darken(#2960B1, 10%);
      border-color: darken(#2960B1, 10%);
    }

    >.rubix-icon {
      top: 10px;
      left: 20px;
      font-size: 28px;
      position: absolute;
      vertical-align: top;

      &+span {
        font-size: 18px;
        padding-left: 20px;
        position: relative;
      }
    }
  }

  a {
    color: #4A90E2;
    border-color: #4A90E2;

    &:hover, &:focus {
      color: #4A90E2;
      border-color: #4A90E2;
    }
  }
}

#auth-container.signup {
  #facebook-btn, #twitter-btn {
    position: relative;
    border-radius: 4px;
    text-transform: none;

    >.rubix-icon {
      top: 10px;
      left: 20px;
      font-size: 28px;
      position: absolute;
      vertical-align: top;

      &+span {
        font-size: 18px;
        padding-left: 20px;
        position: relative;
      }
    }
  }

  #twitter-btn {
    background: #00ACDF;
    border-color: #00ACDF;

    &:hover, &:focus {
      background: darken(#00ACDF, 10%);
      border-color: darken(#00ACDF, 10%);
    }
  }

  #facebook-btn {
    background: #2960B1;
    border-color: #2960B1;

    &:hover, &:focus {
      background: darken(#2960B1, 10%);
      border-color: darken(#2960B1, 10%);
    }
  }

  .facebook-container {
    margin-bottom: $line-height-computed / 2;
  }

  @media (min-width: $screen-sm-min) {
    .facebook-container {
      margin-bottom: 0px;
      padding-right: $line-height-computed / 2;
    }

    .twitter-container {
      padding-left: $line-height-computed / 2;
    }
  }

  a {
    color: #4A90E2;
    border-color: #4A90E2;

    &:hover, &:focus {
      color: #4A90E2;
      border-color: #4A90E2;
    }
  }
}

#auth-container.lockpage {
  #auth-cell > div {
    width: 700px;
  }

  label {
    color: black;
    width: 200px;
    font-weight: 400;
    background: white;
    position: relative;
    text-align: center;
    margin-right: -5px;
    display: inline-block;
    padding: $line-height-computed/2 $line-height-computed;
  }

  img {
    border-radius: 100px;
    display: inline-block;
    border: 7px solid white;
  }

  input[type='password'] {
    width: 200px;
    height: auto;
    border: none;
    margin-left: -5px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: $line-height-computed/2 $line-height-computed;
  }
}

@media (max-width: 568px) {
  #auth-container.lockpage {
    h1 {
      font-size: 72px !important;
    }

    input[type='password'], label {
      margin: auto;
      display: block;
    }

    input[type='password'] {
      margin-top: 10px;
    }

    img {
      display: none;
    }
  }
}

////////////////////////////////////////////////////Dashboard Tiles//////////////////////////////////////

// execdashboard CPTA
// .cptaTxt {
//   font-family: Lato, "Lucida Grande", Arial, Helvetica, sans-serif;
//   text-align: center;
//   user-select: none;
//   font-weight: bold;
//   font-size: 16px;
//   color: rgb(215, 31, 75);
//   margin-top: 10px;
//   cursor: default;
// }

.asi_text, .csr_text{
  font-family: Lato, "Lucida Grande", Arial, Helvetica, sans-serif;
  text-align: center;
  user-select: none;
  font-size: 16px;
  color: rgb(215, 31, 75);
  margin-top: 5px;
  cursor: default;
  opacity: 0.8;
  font-weight: bold;
}

.asi_tile {
  margin:0 auto;
  width: 200px;
  height: 200px;
  padding: 10px;
  background: #FF7F27;
}

.days_text,
.days_number_text,
.ple_type1,
.ple_type2,
.ple_title1,
.ple_title2,
.ple_percentage1,
.ple_percentage2,
.ple_number2,
.ple_number1,
.csr_title,
.csr_content {
  font-family: Lato, "Lucida Grande", Arial, Helvetica, sans-serif;
  color: #FFFFFF
}

.days_text {
  font-size: 22px
}

.days_number_text {
  font-size: 48px;
  font-weight: bold;
  text-align: center
}

//execdashboard PLE 
.sma_channel_tile {
  float: left;
  margin: 50px;
  padding: 10px;
  width: 250px;
  height: 250px;
  background: #FF7F27;
  box-shadow: 10px 10px 5px #888888;
}

.sma_channel_title {
  font-size: 20px;
  text-align: left;
  color: #FCFB00;
  font-weight: bold
}

.sma_channel_content {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.sma_channel_bottom {
  margin-top: 30px
}

.sma_channel_percent {
  font-size: 30px;
  width: 130px;
  float: left;
  font-weight: bold;
  color: #FFFFFF
}

.sma_channel_number {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF
}

.sma_channel_number_area {
  float: right;
  color: #FFFFFF
}

//Executive Dashboard CSR
.csr_tile {
  margin:10px auto;
  width: 200px;
  padding: 100px 0;
  height: 200px;
  text-align: center;
  background: #FF7F27;
  box-shadow: 10px 10px 5px #888888;
}
.csr_content {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF
}
//////////////////////Executive Dashboard ProductPromotionByChannel//////////////////
//////////////////Shopping Mode Analytics//////////////
.sma_product_tile {
  float: left;
  margin: 50px;
  padding: 10px;
  width: 200px;
  height: 200px;
  background: #8081FF;
  box-shadow: 10px 10px 5px #888888;
}

.sma_product_title {
  font-size: 20px;
  text-align: left;
  color: #FCFB00;
  font-weight: bold
}

.sma_product_content {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.sma_product_bottom {
  margin-top: 50px
}

.sma_product_percent {
  font-size: 30px;
  width: 130px;
  float: left;
  font-weight: bold;
  color: #FFFFFF
}

.sma_product_number {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF
}

.sma_product_number_area {
  float: right;
  color: #FFFFFF
}

//////////////////Digital Shopping Activity//////////////
.dsa_tile {
  float: left;
  margin: 50px;
  padding: 10px;
  width: 250px;
  height: 250px;
  background: #8081FF;
  box-shadow: 10px 10px 5px #888888;
}

.dsa_title {
  font-size: 20px;
  text-align: left;
  color: #FCFB00;
  font-weight: bold
}

.dsa_content {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.dsa_bottom {
  margin-top: 30px
}

.dsa_percent {
  font-size: 30px;
  width: 130px;
  float: left;
  font-weight: bold;
  color: #FFFFFF
}

.dsa_number {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF
}

.dsa_number_area {
  float: right;
  color: #FFFFFF
}

////////////////// Executive Dashboard Product Bundles By Customer Behavior//////////////
///////////////Customer Payment Preferences/////////////////
.prod_pay_tile {
  float: left;
  margin: 50px;
  padding: 10px;
  width: 250px;
  height: 250px;
  background: #8081FF;
  box-shadow: 10px 10px 5px #888888;
}

.prod_pay_title {
  font-size: 20px;
  text-align: left;
  color: #FCFB00;
  font-weight: bold
}

.prod_pay_content {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.prod_pay_bottom {
  margin-top: 30px
}

.prod_pay_percent {
  font-size: 30px;
  width: 130px;
  float: left;
  font-weight: bold;
  color: #FFFFFF
}

.prod_pay_number {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF
}

.prod_pay_number_area {
  float: right;
  color: #FFFFFF
}

///////////////Customer Payment Preferences/////////////////
//// Customer Product Appetite///////
.prod_product_tile {
  float: left;
  margin: 50px;
  padding: 10px;
  width: 250px;
  height: 250px;
  background: #8081FF;
  box-shadow: 10px 10px 5px #888888;
}

.prod_product_title {
  font-size: 20px;
  text-align: left;
  color: #FCFB00;
  font-weight: bold
}

.prod_product_content {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.prod_product_bottom {
  margin-top: 30px
}

.prod_product_percent {
  font-size: 30px;
  width: 130px;
  float: left;
  font-weight: bold;
  color: #FFFFFF
}

.prod_product_number {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF
}

.prod_product_number_area {
  float: right;
  color: #FFFFFF
}
///////////////////////////Executive Dashboard New Customer Aquistion/Predictive Market Segmentation//////////////////////
.demographices_row {
  margin:10px
}
.age_tile_area {
  padding: 10px
}
.pms_age_tile {
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  height: 200px;
  background: #8081FF;
  box-shadow: 10px 10px 5px #888888;
}
.pms_age_tile_header {
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
.pms_age_tile_content {
  margin-top: 40px;
  font-size: 42px;
  text-align: center;
  color: #FFFFFF;
}
.counts {
  font-size: 20px
}
////////////////////////Sub Dashboard Campaigns App PLE///////////////////
///////best recommender////////////
.channel_recommender_tile, .pay_recommender_tile, .dsa_recommender_tile, .prod_recommender_tile {
  margin: auto;
  padding: 10px;
  width: 100%;
  background: #8081FF;
  box-shadow: 10px 10px 5px #888888;
}

.channel_recommender_title {
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold
}

.channel_recommender_total {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.channel_recommender_percent {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.channel_best_recommender, .pay_best_recommender, .dsa_best_recommender, .prod_best_recommender {
  font-size: 12px;
  text-align: left;
  color: #FFFFFF
}

.channel_recommender_type, .pay_recommender_type, .dsa_recommender_type, .prod_recommender_type {
  font-size: 16px;
  text-align: center;
  color: #FFFFFF
}

////////////all sub dashbard recommender text tiles///////////////
.channel_recommender_text_tile, .pay_recommender_text_tile, .dsa_recommender_text_tile, .prod_recommender_text_tile {
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #FF7F27;
  box-shadow: 10px 10px 5px #888888;
}

.channel_recommender_text, .pay_recommender_text, .dsa_recommender_text, .prod_recommender_text {
  font-size: 10px;
  word-break: break-all;
  text-align: left;
  font-weight: bold;
  color: #FFFFFF
}

.channel_recommender_title, .pay_recommender_title, .dsa_recommender_title, .prod_recommender_title{
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold
}

.channel_recommender_total, .pay_recommender_total, .dsa_recommender_total, .prod_recommender_total {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}

.channel_recommender_percent, .pay_recommender_percent, .dsa_recommender_percent, .prod_recommender_percent {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF
}
.channel_row, .pay_row, .prod_row, .dsa_row {
   margin: 10px;
}


